
.bg{


    background: linear-gradient(153deg,rgba(254, 150, 121, 1) 0%, rgba(57, 207, 254, 1) 50%, rgba(204, 150, 210, 1) 100%);
    width: 100vw;
    height: 100vh;

}

.prayer{
    background: linear-gradient(153deg,rgba(254, 150, 121, 1) 0%, rgba(57, 207, 254, 1) 50%, rgba(204, 150, 210, 1) 91%);
}